#facebook-icon, #twitter-icon, #google-icon, #ig-icon{
    float: left;
    height: 80px;
    width: 80px;
    cursor: pointer;
    
}

#social-medias{
    align-content: center;
}


form{
    clear: both;
}

h1, h6 {
    color: green;
}

p{
    text-align: left;
    cursor: context-menu;
}

#logout {
    text-align: right;
}

#index-body{

}
